body{
  background-color: #d4d2be;
}
h1{
  font-family: 'Oi';
  color: #f0b924;
  font-size: 50px
}
p{
  font-family: 'Montserrat', regular 400;
  color: #182730;
  font-size: 15px;
}
.header{
  text-align: center;
  margin: 20px 20px 20px 20px;
}
.header > h5{
  font-family: 'Montserrat', regular 400;
  font-size: 20px;
}
.header > h3{
  font-family: 'Montserrat', regular 400;
  font-size: 30px;
  
}
.header > h1{
  font-size: 100px;
  color: #f0b924;
}
.content{
  text-align: left;
  margin: 20px 20px 20px 20px;
  background-color: #d4d2be;
}
.footer{
  font-family: 'Montserrat', regular 400;
  color: #182730;
  font-size: 15px;
}

