body {
    background-color: #d4d0c9; /* Changed background color */
}

h1 {
    font-family: 'Oi';
    color: #f0b924;
    font-size: 200px; /* Modified font size */
    text-align: center; /* Centered header */
    line-height: 1; /* Ensures proper alignment of text */
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px; /* Modified font size */
    color: #1e2733; /* Assigned color */
    text-align: center; /* Centered header */
}

h5 {
    color: #1e2733; /* Assigned color */
}

.content {
    text-align: left;
    margin: 20px auto 20px auto; /* Increased margin and centered content */
    max-width: 800px; /* Added max-width to content */
}

.footer {
    font-family: 'Montserrat', sans-serif;
    color: #1e2733; /* Assigned color */
    font-size: 15px;
}

/* Placeholder for photo */
.placeholder-photo {
    width: 3in;
    height: 4in;
    background-color: #f5f5f5; /* Light gray as a placeholder */
    float: right; /* Positioned to the right of content text */
}
