body{
    background-color: #e0dccc;
}

body, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

/* Styling the navigation bar */
.navbar {
    background-color: #f2d635;
    color: #070838;
    text-align: center;
    padding: 10px 0;
    font-family: 'Montserrat', sans-serif;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center the items horizontally */
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    display: block;
    color: #070838;
    text-decoration: none;
    padding: 10px 20px;
}

.navbar ul li a:hover {
    background-color: #e8d566;
}
/* Styling the header */
.header {
    position: relative;
}

.banner-image {
    /* Placeholder for the banner image */
    /* Replace the background color with your image */
    background-image: url(banner.png);
    height: 400px; /* Set your image height */
    background-size: cover; /* Cover the entire space */
    background-position: center; /* Center the image */
}

.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #d6bb1e;
    font-family: 'Oi', serif;
}

.header-content h1,
.header-content h3,
.header-content h5 {
    margin-bottom: 10px;
}
.header h1 {
    font-size: 100px;
    margin-bottom: 10px;
    font-weight: lighter;
}

.header h3, .header h5 {
    color: #070838;
    font-family: 'Montserrat', sans-serif;
}

/* Styling the content */
.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    max-height: 500px;
}

.main-content {
    max-width: 500px;
    text-align: left;
}
.main-content h1{
    color: #d6bb1e;
    font-family: 'Oi', serif;
    margin-bottom: 10px;
    font-weight: lighter;
    font-size: 70px;
}
.main-content p{
    color: #070838;
    font-family: 'Montserrat', sans-serif;
}

.photo-placeholder {
    width: 30px;
    height: 40px;
    margin-left: 20px;
}

/* Styling the footer */
.footer {
    background-color: #e8d566;
    color: #070838;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
}

.footer-links ul {
    list-style-type: none;
}

.footer-links ul li {
    display: inline;
    margin-right: 10px;
}

.footer-links ul li a {
    color: #070838;
    text-decoration: none;
    font-size: 15px;
}
